.layout {
  display: flex;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.content {
  flex: 1;
  margin-left: 0;
}

.contentWithSidebar {
  flex: 1;
  margin-left: 250px;
}

.main {
  padding: 0;
  margin-top: 75px;
  background: #fafafa;
  min-height: calc(100vh - 64px);
  width: 100%;
  margin-left: -8px;
}
