/* From Uiverse.io by dexter-st */
.loaderWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: white;
  border-radius: 50%;
  background-color: transparent;
  user-select: none;
}

.loaderWrapper.small {
  width: 120px;
  height: 120px;
  font-size: 0.9em;
}

.loaderWrapper.medium {
  width: 180px;
  height: 180px;
  font-size: 1.2em;
}

.loaderWrapper.large {
  width: 240px;
  height: 240px;
  font-size: 1.5em;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: transparent;
  animation: loader-rotate 2s linear infinite;
  z-index: 0;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(90deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #ad5fff inset,
      0 60px 60px 0 #471eec inset;
  }
  50% {
    transform: rotate(270deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 10px 0 #d60a47 inset,
      0 40px 60px 0 #311e80 inset;
  }
  100% {
    transform: rotate(450deg);
    box-shadow:
      0 10px 20px 0 #fff inset,
      0 20px 30px 0 #ad5fff inset,
      0 60px 60px 0 #471eec inset;
  }
}

.loaderLetter {
  display: inline-block;
  opacity: 0.4;
  transform: translateY(0);
  animation: loader-letter-anim 2s infinite;
  z-index: 1;
  border-radius: 50ch;
  border: none;
}

.loaderLetter:nth-child(1) {
  animation-delay: 0s;
}
.loaderLetter:nth-child(2) {
  animation-delay: 0.1s;
}
.loaderLetter:nth-child(3) {
  animation-delay: 0.2s;
}
.loaderLetter:nth-child(4) {
  animation-delay: 0.3s;
}
.loaderLetter:nth-child(5) {
  animation-delay: 0.4s;
}
.loaderLetter:nth-child(6) {
  animation-delay: 0.5s;
}
.loaderLetter:nth-child(7) {
  animation-delay: 0.6s;
}
.loaderLetter:nth-child(8) {
  animation-delay: 0.7s;
}
.loaderLetter:nth-child(9) {
  animation-delay: 0.8s;
}
.loaderLetter:nth-child(10) {
  animation-delay: 0.9s;
}
.loaderLetter:nth-child(11) {
  animation-delay: 1s;
}
.loaderLetter:nth-child(12) {
  animation-delay: 1.1s;
}
.loaderLetter:nth-child(13) {
  animation-delay: 1.2s;
}
.loaderLetter:nth-child(14) {
  animation-delay: 1.3s;
}
.loaderLetter:nth-child(15) {
  animation-delay: 1.4s;
}

@keyframes loader-letter-anim {
  0%,
  100% {
    opacity: 0.4;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: scale(1.15);
  }
  40% {
    opacity: 0.7;
    transform: translateY(0);
  }
}

