.logoLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoContainer {
  position: relative;
  width: 150px;
  height: 50px;
}

.logoImage {
  object-fit: contain;
  padding: 5px;
  height: 100%;
}

/* Add responsive sizes for different screen sizes */
@media (max-width: 768px) {
  .logoContainer {
    width: 150px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  .logoContainer {
    width: 120px;
    height: 35px;
  }
}
