.bg {
  background-color: #000;
  min-height: 100vh;
  /* width: 100%; */
  position: relative;
  z-index: 0;
  padding-top: 200px;
  margin-left: -8px;
  padding-left: 16px;
  padding: 50px 16px 50px 16px;
  font-family: "Poppins", sans-serif;
}

.body {
  margin: 0px !important;
}

.header {
  padding: 1rem;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  max-width: 500px;
  margin: 100px auto;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  padding: 12px;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  outline: none;
  width: 100%;
  background-color: #f5f5f5;
  padding-right: 40px;
}

.customInput {
  width: inherit;
}

.button {
  padding: 12px;
  border-radius: 8px;
  background: #2c2c2c;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 8px;
  transition: background 0.2s;
}

.button:hover {
  background: #444;
}

.error {
  color: red;
  margin: 0 0 8px 0;
  text-align: center;
}

.blackButton {
  background: #2c2c2e;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 8px 20px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 8px;
  width: 200px;
  height: 50px;
}

.blackButton:hover {
  background: #444;
}

.loginButton {
  width: fit-content;
}

.passwordWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.eyeIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 1.2rem;
  background: none;
  border: none;
  outline: none;
  z-index: 2;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
