.container {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: white;
  border-radius: 50px;
  margin-right: 25px;
  height: calc(100vh - 100px);
}

.title {
  font-weight: 700;
  font-size: 2rem;
  padding: 30px;
  margin: 0;
}

.divider {
  margin: 0;
}

.form {
  width: calc(100% - 100px);
  margin: 30px;
}

.label {
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  background: #f5f5f5;
  font-size: 1rem;
  outline: none;
  margin-bottom: 24px;
}

.textarea {
  width: 100%;
  padding: 16px;
  border-radius: 16px;
  border: none;
  background: #f5f5f5;
  font-size: 1rem;
  outline: none;
  resize: vertical;
  margin-bottom: 32px;
  font-family: "Poppins", sans-serif;
}

.buttonWrapper {
  text-align: center;
}

.button {
  background: black;
  color: white;
  border: none;
  border-radius: 24px;
  padding: 12px 48px;
  font-size: 1rem;
  cursor: pointer;
  min-width: 180px;
  transition: background 0.2s;
  height: 48px;
}

.button:hover {
  background: #101010;
  box-shadow: 0 0 2px 0 #fff, 0 0 10px 0 #ad5fff, 0 0 15px 0 #471eec;
}

.success {
  color: green;
  text-align: center;
  margin-top: 24px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 24px;
}
